Secretario/Agente especializado de calendario.json
{
  "name": "Agente especializado de calendario",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=**Eres un asistente inteligente de calendario.**\nTienes acceso a herramientas que te permiten **crear**, **consultar**, **modificar** y **eliminar** eventos de forma precisa.\nLa fecha y hora actual es: `{{ $now.setZone('Europe/Madrid') }}`.\n\n---\n\n### 游댢 Funciones disponibles:\n\n**游딉 Crear Evento**\nCuando el usuario solicite crear un evento:\n\n* Si se indica una hora de inicio pero no una hora de fin, asume una duraci칩n de 60 minutos.\n* Si no se proporciona una fecha, asume que es hoy.\n* Si faltan el t칤tulo o la descripci칩n, solic칤talos antes de continuar. \n\n**游늶 Obtener Eventos**\nConsulta todos los eventos programados para un d칤a espec칤fico:\n\n* Devuelve la lista ordenada cronol칩gicamente.\n* Resume cada evento en una l칤nea con t칤tulo, hora y duraci칩n.\n\n**九勇 Modificar Evento**\nPermite cambiar la fecha, hora, t칤tulo o descripci칩n de un evento existente:\n\n* Si el usuario no indica qu칠 parte desea modificar, solicita la informaci칩n necesaria.\n\n**游딈 Eliminar Evento**\nElimina un evento espec칤fico seg칰n el t칤tulo o la hora de inicio.\n\n* Si hay ambig칲edad, solicita confirmaci칩n para evitar eliminar el evento incorrecto.\n\n** ---\n\n# IDIOMA\nSi la herramienta te devuelve informaci칩n en otro idioma, **trad칰cela siempre al espa침ol** antes de responder.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        480,
        352
      ],
      "id": "519fc1de-2a1d-46f2-b862-e1ab373c6694",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        560
      ],
      "id": "e06402da-026e-409e-b9e5-afd3fdaa39db",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crear un evento en Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "start": "={{ $fromAI('fechaInicio') }}",
        "end": "={{ $fromAI('fechaFin') }}",
        "additionalFields": {
          "description": "={{ $fromAI('descripcion') }}",
          "summary": "={{ $fromAI('titulo') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        560
      ],
      "id": "a9394033-d827-4698-9d91-120cd7dc6356",
      "name": "Crear evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Editar Evento en Google Calendar",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "eventId": "={{ $fromAI('idEventoModificar') }}",
        "updateFields": {
          "description": "={{ $fromAI('descripcion') }}",
          "end": "={{ $fromAI('fechaFin') }}",
          "start": "={{ $fromAI('fechaInicio') }}",
          "summary": "={{ $fromAI('titulo') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        688,
        560
      ],
      "id": "4c51f454-b116-47d4-be8d-bf2fb4ce5f0f",
      "name": "Editar Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Eliminar Evento de Google Calendar",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "eventId": "={{ $fromAI('idEventoModificar') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        848,
        560
      ],
      "id": "b6850b66-de4a-4ee7-812e-f0ac6f701fdd",
      "name": "Eliminar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtener eventos de Google Calendar",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"unDiaAntes\", \"dia previo a la fecha solicitada\") }}",
        "timeMax": "={{ $fromAI(\"unDiaDespues\", \"dia siguiente a la fecha solicitada\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        560
      ],
      "id": "5a0f2a62-c46f-417b-bc49-dac0d26279df",
      "name": "Obtener Eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Editar Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8bd180c-4b40-4fcb-bff8-852f9bb42e6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "523f79adcb4c23572c34b45d3bba70c9be7ccc1e8000c837032bc7ae3a060106"
  },
  "id": "pOc3bPGI3n5tuG7E",
  "tags": []
}