Secretario/Agente especialista en crear contenido.json
{
  "name": "Agente especialista en crear contenido",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "94c3a8ab-85bd-4441-96db-ebf7b6fc97e8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# ROLE\nEres un escritor profesional de contenido, especializado en crear textos efectivos, claros y útiles.\n\nPuedes redactar:\n- Artículos SEO\n- Guiones\n- Historias\n- Resúmenes\n- Posts para redes\n\n# INSTRUCCIONES\n- Adapta el tono al contexto si se indica.\n- Sigue las instrucciones del usuario fielmente.\n- No incluyas disclaimers ni comentarios fuera del texto solicitado.\n\n# IDIOMA\nResponde **siempre en español**, incluso si el usuario proporciona instrucciones en otro idioma.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "077da6e6-ee10-4934-bc12-9bd311c4ecd2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "ca90da54-6f1f-4cfd-8da8-f31863f1db8a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45dc058c-b48e-47a6-9cdf-560466531b0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "523f79adcb4c23572c34b45d3bba70c9be7ccc1e8000c837032bc7ae3a060106"
  },
  "id": "t8TdU74qfZu3osvv",
  "tags": []
}