Secretario/Flujo Principal Telegram.json
{
  "name": "Flujo Principal Telegram",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        -208
      ],
      "id": "cc87109b-793a-480a-a8b4-5549216a611c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=\n{{ $json.output }}\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        -336
      ],
      "id": "cb305b87-69f6-4dbb-82fd-e3e06a248ff1",
      "name": "Send a text message",
      "webhookId": "2de5693f-5592-4ac8-9009-30f77f71e8df",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "cfa0e685-3fca-4879-948f-a7c48cfd9121"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c431cf58-92bf-47c7-b55d-15731eebebf3",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed908613-0daa-4197-9079-785952a16d50",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "exists",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1168,
        -176
      ],
      "id": "2a0fcb45-3e57-4878-a747-5b64c9683d38",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cae8758f-f700-4a3b-9959-33ebef970da3",
              "name": "instruccion",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -400
      ],
      "id": "940d0d83-bd51-42f0-a347-5f81ec75e79b",
      "name": "texto"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        -176
      ],
      "id": "ec575229-5e2c-400b-a9ac-2a47c50f7d43",
      "name": "Descargar Audio",
      "webhookId": "0fd4c871-9e76-4bbd-abc0-639f408dcf31",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -176
      ],
      "id": "6736162e-58d1-49e6-b5dc-55f4447b7467",
      "name": "Transcribe audio telegram",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd382eab-82f8-467e-91da-573f16d7409a",
              "name": "instruccion",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -176
      ],
      "id": "c34b3882-a6d4-4d61-b0e6-714399452331",
      "name": "Audio"
    },
    {
      "parameters": {
        "description": "Llama a este agente cuando necesites:\n\n-Revisar eventos en calendario\n-Crear eventos en calendario\n-Editar eventos en calendario\n-Eliminar eventos en calendario",
        "workflowId": {
          "__rl": true,
          "value": "pOc3bPGI3n5tuG7E",
          "mode": "list",
          "cachedResultName": "Agente especializado de calendario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        -80
      ],
      "id": "83cb59e6-9049-438f-9e8d-c0dbcff28ab7",
      "name": "Agente de calendario"
    },
    {
      "parameters": {
        "description": "Llama al especialista en documentos cuando necesite:\n- Crear un documento\n- Guardar un documento\n- Modificar un documento\n",
        "workflowId": {
          "__rl": true,
          "value": "ZOU4pLBxnXyRcLfi",
          "mode": "list",
          "cachedResultName": "Agente especializado en documentos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        -80
      ],
      "id": "8eaa1bac-f59d-41de-ba07-463829a8be58",
      "name": "Agente de documentos"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1376,
        -176
      ],
      "id": "0f3531aa-a8ee-4f69-b4c3-5c31ae0fadc5",
      "name": "Telegram Trigger",
      "webhookId": "7b3b619b-4d2c-4e55-b7ec-b6735e64764d",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        944,
        144
      ],
      "id": "a80813c0-be9e-4350-9876-2a6c55855ae7",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1152,
        144
      ],
      "id": "ce6fdbac-b24e-4974-a12e-e132af21e7ca",
      "name": "Google Search",
      "credentials": {
        "serpApi": {
          "id": "A0ywXwbIgMmbhZfa",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.instruccion }}",
        "options": {
          "systemMessage": "=# Contexto\n\nEres el asistente personal definitivo. Tu trabajo es enviar la consulta del usuario a la herramienta correcta. Nunca debes redactar correos electrónicos ni crear resúmenes; solo necesitas llamar a la herramienta correcta.\n\nCuando te hagan preguntas del tipo \"¿De qué equipo eres?\" \"¿Cuál es tu equipo\", quiero que respondas: \"Soy bética hasta las trancas y antimadridista igual que mi jefe. ¡¡¡ MUSHO BETI !!!\"\n\n\n# Herramientas\n\npensamiento: Usa esto \"SIEMPRE\" Resume mentalmente el problema y planifica la respuesta. \n\n-Agente de gmail: Usa esta herramienta para realizar acciones en el correo electrónico.\n\n-Agente de calendario: Usa esta herramienta para realizar acciones en el calendario.\n\n- Contactos: Usa esta herramienta para obtener, actualizar o añadir contactos.\n\n- Agente de documentos: Usa esta herramienta para realizar acciones con docummentos.\n\n- Agente de contabilidad: Usa esta herramienta para el control de ingresos y gastos.\n\n- Writer: Usa siempre esta herramienta para escribir de manera profesional.\n\n- Utiliza Google Seahch y/o Tavily para buscar por internet.\n\n# Reglas\n\nAlgunas acciones requieren que primero busques información de contacto. Para las siguientes acciones, debes obtener la dirección de correo electrónico y enviársela al agente que la necesite:\n\nEnviar correos electrónicos\n\nRedactar correos electrónicos\n\nCrear un evento de calendario con un asistente\n\n# Tarea\n\nLlamar a las herramientas necesarias según la solicitud del usuario.\n\nLlamar la herramienta \"pensamiento\" para verificar que tomaste los pasos correctos. Esta herramienta debe ser llamada cada vez.\n\n\n# Ejemplos\n\n## Input\n\nEnvía un correo electrónico a Pau Berenguer preguntándole cómo le va el día.\n\n## Acciones\n\n1. Llamar a la herramienta de “Contactos” para obtener el contacto\n2. Llamar a la herramienta de  “agente de Gmail” para enviar el correo electrónico.\n3. Llamar a la herramienta “pensamiento” para comprobar que todas las tareas han sido completadas.\n\n## Output\n\nAcabo de enviar el correo que me has pedido a Pau ¿Hay algo más en lo que pueda ayudarte?\n\n# Notas\n\nFecha y hora actuales: `{{ $now }}`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        144,
        -464
      ],
      "id": "cea55344-e1f2-410d-9674-cd51a2fd8d88",
      "name": "Agente principal"
    },
    {
      "parameters": {
        "description": "Use this tool for any email related actions.",
        "workflowId": {
          "__rl": true,
          "value": "8JBs7LTkUm7c01wj",
          "mode": "list",
          "cachedResultName": "Agente especialista en Gmail"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        -80
      ],
      "id": "bfe332b4-d05b-4ec6-a3e7-32515506c504",
      "name": "Agente de Emails"
    },
    {
      "parameters": {
        "description": "Use this too for all contacts related actions.",
        "workflowId": {
          "__rl": true,
          "value": "FZlXY7DiYiO0K0F3",
          "mode": "list",
          "cachedResultName": "Agente especialista en contactos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        768,
        -80
      ],
      "id": "0021b8d4-d17c-4fd1-9725-cf9f67f5df92",
      "name": "Contactos"
    },
    {
      "parameters": {
        "description": "=You are a writing assistant specialized in generating texts such as emails, summaries, documents, notes, and creative content. Your writing must always be clear, well-structured, and appropriate to Marru's intent.\n\nGeneral rules:\n- All output must be written in **Spanish**, regardless of the input language.\n- Never mix languages in the same text.\n- Avoid robotic or generic phrasing — write as if a thoughtful human wrote it.\n- If the task is not clearly defined, respond with a clarification request instead of guessing.\n\nDo not perform actions like sending emails or saving documents. Only generate the content.\n",
        "workflowId": {
          "__rl": true,
          "value": "t8TdU74qfZu3osvv",
          "mode": "list",
          "cachedResultName": "Agente especialista en crear contenido"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        112
      ],
      "id": "1f260e90-9bc3-4366-8462-b386826711d4",
      "name": "Writer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        144
      ],
      "id": "61b1e0e5-8a35-4ed5-926a-271e4634f7a7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool when asked questions from our own knowledge base",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1312,
        48
      ],
      "id": "9286f513-82d1-4cda-80e1-ba96a3f09932",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Xr0QwNe7JcxCTrzc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando el usuario desee registrar un gasto o un ingreso.\nCuando te actives debes preguntar al usuario lo siguiente:\n- Si es ingreso o gasto\n- Descripción\n- Valor\nDebes enviar un json como este:\n{\n  \"Concepto\":\"ingreso o gasto\",\n  \"Descripción\":\"some_value\",\n  \"Valor\":\"some_value\",\n  \"Fecha\":\"{{ $now.toString() }}\"\n}\n",
        "workflowId": {
          "__rl": true,
          "value": "4OIMsNQ4qNSkJQ9x",
          "mode": "list",
          "cachedResultName": "Control de gastos e ingresos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        112
      ],
      "id": "65ac51ea-32b7-4098-ba5c-266a7570756d",
      "name": "Agente de contabilidad"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=telegram_{{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        144,
        128
      ],
      "id": "c5ac3870-4e70-4b7f-b6e7-5b27e9911764",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AMNUW9j1MQM28TqJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        144,
        -48
      ],
      "id": "3fd9b354-6c53-455f-a4fb-46db6f78b3bc",
      "name": "Pensamiento"
    },
    {
      "parameters": {
        "content": "## SUBFLUJOS\n",
        "height": 420,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -160
      ],
      "typeVersion": 1,
      "id": "d381541e-bc2d-46e1-8fc1-095024b47599",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### CALCULADORA\n",
        "height": 180,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        80
      ],
      "typeVersion": 1,
      "id": "0984c49a-c152-41cd-a778-c1062a38eab3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### BUSCAR GOOGLE\n",
        "height": 180,
        "width": 190,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        80
      ],
      "typeVersion": 1,
      "id": "1e2f71c9-b5c2-4c87-9db9-813c462067cd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## BBDD VECTORIAL",
        "height": 280,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        -16
      ],
      "typeVersion": 1,
      "id": "7cef56b5-2146-4d56-a676-956f2f893977",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## AGENTE AI PRINCIPAL",
        "height": 200,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -528
      ],
      "typeVersion": 1,
      "id": "cfc91a96-5405-46d1-9197-8d797ae1fea1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### OPEN AI\n",
        "height": 120,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -240
      ],
      "typeVersion": 1,
      "id": "de635a01-d01c-4b21-9cc1-3154f4db99a4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### THINK\n",
        "height": 120,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -80
      ],
      "typeVersion": 1,
      "id": "4e1195b1-83f9-4d13-ab49-fedc7c44259c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### MEMORIA\n",
        "height": 180,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        80
      ],
      "typeVersion": 1,
      "id": "f2310076-f430-46f7-a521-a79433261153",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        0
      ],
      "id": "f3793cfd-87dd-4c7b-bc3a-613dce023cf6",
      "name": "Descargar Audio1",
      "webhookId": "0fd4c871-9e76-4bbd-abc0-639f408dcf31",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -704,
        0
      ],
      "id": "6ab24b00-005a-40ef-8569-d6e8b767c20e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        0
      ],
      "id": "37a5ae0f-6f28-42a2-ad80-18ed24c7d94a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Dime de qué es la imagen",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -304,
        0
      ],
      "id": "bacee001-a31c-47a1-a2ff-3d08a2357a0a",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# TELEGRAM",
        "height": 800,
        "width": 1480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        -544
      ],
      "typeVersion": 1,
      "id": "83011635-e1ed-404d-8ac8-d30d792237ea",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## TELEGRAM",
        "height": 420,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -608
      ],
      "typeVersion": 1,
      "id": "98f46fa4-06a7-4e3a-b276-8da89e9548cf",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1152,
        -96
      ],
      "id": "6b00b816-d925-437a-be13-cc99b296bbda",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "XK4Md2R87321Asnf",
          "name": "Credencial de Travily"
        }
      }
    },
    {
      "parameters": {
        "content": "### BUSCAR TAVILY\n",
        "height": 180,
        "width": 190,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -144
      ],
      "typeVersion": 1,
      "id": "8a10e36c-91be-4cb0-8e69-2b9df9e0680a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86bffb28-9626-42fb-8090-7e36524d605b",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -464
      ],
      "id": "670776bb-a2ef-455e-955c-1e1d148c267b",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('Agente principal').item.json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        784,
        -560
      ],
      "id": "d27f6942-31b0-4a02-ad41-beb67507d265",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n\n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === \"audio/mp3\") {\n        item.binary[propName].mimeType = \"audio/mpeg\";\n      }\n    }\n  }\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -560
      ],
      "id": "83445cf8-b3a5-4b88-b8b2-0cc0e93da937",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -560
      ],
      "id": "4537e224-013f-42ea-8901-be4bc12fc578",
      "name": "Send an audio file",
      "webhookId": "2de5693f-5592-4ac8-9009-30f77f71e8df",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f084a6a3-c1df-4376-bcc9-99259dc9b8a2",
              "name": "instruccion",
              "value": "=##The user provided the following image and text\n\n##User Image Description: {{ $json.content }}\n\n#User Message:{{ $('Telegram Trigger').item.json.messages[0].image.caption || \"Describe the image in detail\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        0
      ],
      "id": "4e3fb465-ac4a-49fb-8cf9-5894dcf9f9c9",
      "name": "Imagen"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto": {
      "main": [
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio": {
      "main": [
        [
          {
            "node": "Transcribe audio telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio telegram": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de calendario": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de documentos": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente principal": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Emails": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contactos": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Writer": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de contabilidad": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pensamiento": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen": {
      "main": [
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30efc253-58aa-4e38-9d83-cd19482fe2da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "523f79adcb4c23572c34b45d3bba70c9be7ccc1e8000c837032bc7ae3a060106"
  },
  "id": "pb09COebBA2Fw5dQ",
  "tags": [
    {
      "createdAt": "2025-07-13T18:02:49.662Z",
      "updatedAt": "2025-07-13T18:02:49.662Z",
      "id": "9pjpmjCjld0jhKg3",
      "name": "Fran Junquero"
    },
    {
      "createdAt": "2025-07-14T09:29:54.016Z",
      "updatedAt": "2025-07-14T09:29:54.016Z",
      "id": "hfGesm7WglBONLwl",
      "name": "😎"
    }
  ]
}