Secretario/Flujo Principal Telegram Compacto.json
{
  "name": "Flujo Principal Telegram Compacto",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2240,
        -256
      ],
      "id": "406752cb-37e7-4c32-a13f-7078ed5ee035",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=\n{{ $json.output }}\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1776,
        -688
      ],
      "id": "94eba88d-d7b0-4d1c-ba60-96e0c65e6a77",
      "name": "Send a text message",
      "webhookId": "4872f941-1a3a-45f2-aecb-b01123e8b402",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "cfa0e685-3fca-4879-948f-a7c48cfd9121"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c431cf58-92bf-47c7-b55d-15731eebebf3",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed908613-0daa-4197-9079-785952a16d50",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "exists",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3744,
        -624
      ],
      "id": "7452c331-f58d-4844-92f6-1b50389565fc",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cae8758f-f700-4a3b-9959-33ebef970da3",
              "name": "instruccion",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3280,
        -784
      ],
      "id": "16e204db-c0cc-4f6b-8aba-e3f13e9c673c",
      "name": "texto"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3504,
        -624
      ],
      "id": "861c87fb-b88e-466c-84aa-c1936ad58135",
      "name": "Descargar Audio",
      "webhookId": "e480f8e6-dc97-490b-a571-580bd0c9ef5d",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3280,
        -624
      ],
      "id": "6dba77c5-935c-46b1-ad59-b750d450f61b",
      "name": "Transcribe audio telegram",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd382eab-82f8-467e-91da-573f16d7409a",
              "name": "instruccion",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3056,
        -624
      ],
      "id": "4341527f-360d-4cf7-9550-f7d099a3af5a",
      "name": "Audio"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3936,
        -608
      ],
      "id": "796e750e-d71e-41aa-aca9-a90f8a9205a7",
      "name": "Telegram Trigger",
      "webhookId": "15004a41-775e-4bf1-be4f-ac4208f8a793",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -2000,
        -416
      ],
      "id": "006fb90a-b29c-4293-8264-73fd43edf3bf",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1568,
        -416
      ],
      "id": "71eb2d2b-1184-4fda-bfb9-2315c6cce194",
      "name": "Google Search",
      "credentials": {
        "serpApi": {
          "id": "A0ywXwbIgMmbhZfa",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this too for all contacts related actions.",
        "workflowId": {
          "__rl": true,
          "value": "FZlXY7DiYiO0K0F3",
          "mode": "list",
          "cachedResultName": "Agente especialista en contactos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1632,
        -144
      ],
      "id": "3bd66ee3-a2ff-453e-9497-38b503838fdb",
      "name": "Contactos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -368
      ],
      "id": "6b69e044-7097-49e0-a5e9-58286a3dc812",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool when asked questions from our own knowledge base",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1376,
        -464
      ],
      "id": "734b014b-1a6b-4cda-8c03-ef51e891afa7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Xr0QwNe7JcxCTrzc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando el usuario desee registrar un gasto o un ingreso.\nCuando te actives debes preguntar al usuario lo siguiente:\n- Si es ingreso o gasto\n- Descripción\n- Valor\nDebes enviar un json como este:\n{\n  \"Concepto\":\"ingreso o gasto\",\n  \"Descripción\":\"some_value\",\n  \"Valor\":\"some_value\",\n  \"Fecha\":\"{{ $now.toString() }}\"\n}\n",
        "workflowId": {
          "__rl": true,
          "value": "4OIMsNQ4qNSkJQ9x",
          "mode": "list",
          "cachedResultName": "Control de gastos e ingresos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1792,
        -144
      ],
      "id": "af01baf6-2725-4253-b67a-a4c193bbc1ef",
      "name": "Agente de contabilidad"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=telegram_{{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2416,
        -272
      ],
      "id": "9e6a9f95-89d6-4781-83d6-6f27b727969e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AMNUW9j1MQM28TqJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -2016,
        -208
      ],
      "id": "19c404bc-e492-44df-8bc0-d45f0d5b7bfc",
      "name": "Pensamiento"
    },
    {
      "parameters": {
        "content": "## SUBFLUJOS\n",
        "height": 228,
        "width": 332,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        -224
      ],
      "typeVersion": 1,
      "id": "45f7a654-2c01-41e0-a855-b2d13019d66d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### CALCULADORA\n",
        "height": 180,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        -480
      ],
      "typeVersion": 1,
      "id": "50df6568-a111-4a74-8d52-8115d4dcc14c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### BUSCAR GOOGLE\n",
        "height": 180,
        "width": 190,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        -480
      ],
      "typeVersion": 1,
      "id": "52e6cf44-761c-44b1-b9ad-7f8884a25501",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## BBDD VECTORIAL",
        "height": 280,
        "width": 332,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        -528
      ],
      "typeVersion": 1,
      "id": "5a0db20d-10dd-43de-8303-6ddea2e38e9b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## AGENTE AI PRINCIPAL",
        "height": 200,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2448,
        -752
      ],
      "typeVersion": 1,
      "id": "0146403b-dc2e-41c4-9616-763e49f0028f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## MODELOS IA\n\n",
        "height": 216,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2272,
        -336
      ],
      "typeVersion": 1,
      "id": "ab6b1444-d84d-4454-9426-3d8c95a4939b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### THINK\n",
        "height": 168,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        -256
      ],
      "typeVersion": 1,
      "id": "352f61d7-6fa7-4083-b4e7-f4b2fbd64d15",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### MEMORIA\n",
        "height": 180,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2448,
        -320
      ],
      "typeVersion": 1,
      "id": "40e5c3fa-1014-4a2c-88df-76e7296f30c8",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3280,
        -448
      ],
      "id": "165d70da-b119-4796-83ed-6ae3a598d678",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3056,
        -448
      ],
      "id": "824570b4-0b02-487e-89cf-77d9a2a59051",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Analiza la imagen y dime qué ves.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2880,
        -448
      ],
      "id": "218a12a6-6e45-4d40-9681-831e60be695a",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# TELEGRAM",
        "height": 752,
        "width": 1480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4000,
        -912
      ],
      "typeVersion": 1,
      "id": "1ca46020-a549-4e0f-b254-263125844d7f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## TELEGRAM",
        "height": 420,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        -960
      ],
      "typeVersion": 1,
      "id": "8d85d0c3-2c2d-4b48-8b7b-cb53a137dd15",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -1792,
        -432
      ],
      "id": "9f054391-e19b-42f2-a9e4-03309661d4f6",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "XK4Md2R87321Asnf",
          "name": "Credencial de Travily"
        }
      }
    },
    {
      "parameters": {
        "content": "### BUSCAR TAVILY\n",
        "height": 180,
        "width": 190,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1856,
        -480
      ],
      "typeVersion": 1,
      "id": "42c24282-fb7f-4ed1-8b41-fb35da760140",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86bffb28-9626-42fb-8090-7e36524d605b",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -816
      ],
      "id": "98c0df0a-1979-49dd-9e94-828e37ca5814",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('Agente Principal').item.json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1776,
        -912
      ],
      "id": "55c701b9-6bc8-4138-83b7-0c06f77d902b",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "mvl2z4itoSnCMOsZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n\n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === \"audio/mp3\") {\n        item.binary[propName].mimeType = \"audio/mpeg\";\n      }\n    }\n  }\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        -912
      ],
      "id": "364af515-9520-4163-a244-b3dc4e597a87",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1360,
        -912
      ],
      "id": "d8000921-8e84-4b6e-b3d6-9c74275a61fa",
      "name": "Send an audio file",
      "webhookId": "5e0e4ce1-5689-4866-88c6-49fe32688e24",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f084a6a3-c1df-4376-bcc9-99259dc9b8a2",
              "name": "instruccion",
              "value": "=##The user provided the following image and text\n\n##User Image Description: {{ $json.content }}\n\n#User Message:{{ $('Telegram Trigger').item.json.messages[0].image.caption || \"Describe the image in detail\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2704,
        -448
      ],
      "id": "95b5a827-6b28-46c4-80fa-89eb21397655",
      "name": "Imagen"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crear un evento en Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "start": "={{ $fromAI('Start', ``, 'string') }}",
        "end": "={{ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -3776,
        144
      ],
      "id": "4ff323cd-2669-4c8a-affc-58f42adcf062",
      "name": "Crear evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Editar Evento en Google Calendar",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -3936,
        320
      ],
      "id": "8e9312f4-0792-4537-8742-e700a2027353",
      "name": "Editar Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Eliminar Evento de Google Calendar",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -3936,
        144
      ],
      "id": "84d6b4a8-6427-4475-bc25-1e546a340f99",
      "name": "Eliminar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtener eventos de Google Calendar",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "marru973@gmail.com",
          "mode": "list",
          "cachedResultName": "marru973@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `dia previo a la fecha solicitada`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `dia siguiente a la fecha solicitada`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -3776,
        320
      ],
      "id": "b70c6c3c-06bb-427b-a748-a494500be4ad",
      "name": "Obtener Eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RsCrayqPaAtlsTvY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.instruccion }}",
        "options": {
          "systemMessage": "=# Contexto\n\nEres el asistente personal definitivo. Tu trabajo es enviar la consulta del usuario a la herramienta correcta. Nunca debes redactar correos electrónicos ni crear resúmenes; solo necesitas llamar a la herramienta correcta.\n\nCuando te hagan preguntas del tipo \"¿De qué equipo eres?\" \"¿Cuál es tu equipo\", quiero que respondas: \"Soy bética hasta las trancas y antimadridista igual que mi jefe. ¡¡¡ MUSHO BETI !!!\"\n\n\n# Herramientas\n\npensamiento: Usa esto \"SIEMPRE\" Resume mentalmente el problema y planifica la respuesta. \n\n-Agente de correos: Usa esta herramienta para realizar acciones en el correo electrónico.\n\n-Agente de calendarios: Usa esta herramienta para realizar acciones en el calendario.\n\n- Contactos: Usa esta herramienta para obtener, actualizar o añadir contactos.\n\n- Agente documentos: Usa esta herramienta para realizar acciones con docummentos.\n\n- Agente de contabilidad: Usa esta herramienta para el control de ingresos y gastos.\n\n- Agente de tareas: Usa esta herramienta para el control de tareas.\n\n- Escritor: Usa siempre esta herramienta para escribir de manera profesional.\n\n- Utiliza Google Seahch y/o Tavily para buscar por internet.\n\n# Reglas\n\nAlgunas acciones requieren que primero busques información de contacto. Para las siguientes acciones, debes obtener la dirección de correo electrónico y enviársela al agente que la necesite:\n\nEnviar correos electrónicos\n\nRedactar correos electrónicos\n\nCrear un evento de calendario con un asistente\n\n# Tarea\n\nLlamar a las herramientas necesarias según la solicitud del usuario.\n\nLlamar la herramienta \"pensamiento\" para verificar que tomaste los pasos correctos. Esta herramienta debe ser llamada cada vez.\n\n\n# Ejemplos\n\n## Input\n\nEnvía un correo electrónico a Pau Berenguer preguntándole cómo le va el día.\n\n## Acciones\n\n1. Llamar a la herramienta de “Contactos” para obtener el contacto\n2. Llamar a la herramienta de  “agente de correos” para enviar el correo electrónico.\n3. Llamar a la herramienta “pensamiento” para comprobar que todas las tareas han sido completadas.\n\n## Output\n\nAcabo de enviar el correo que me has pedido a Pau ¿Hay algo más en lo que pueda ayudarte?\n\n# Notas\n\nFecha y hora actuales: `{{ $now }}`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -2416,
        -688
      ],
      "id": "09b5f3bf-46c9-4444-856b-6b7f5da250e8",
      "name": "Agente Principal"
    },
    {
      "parameters": {
        "toolDescription": "Usa esta herramienta para gestionar el calendario.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=**Eres un asistente inteligente de calendario.**\nTienes acceso a herramientas que te permiten **crear**, **consultar**, **modificar** y **eliminar** eventos de forma precisa.\nLa fecha y hora actual es: `{{ $now.setZone('Europe/Madrid') }}`.\n\n---\n\n### 🔧 Funciones disponibles:\n\n**🗓 Crear Evento**\nCuando el usuario solicite crear un evento:\n\n* Si se indica una hora de inicio pero no una hora de fin, asume una duración de 60 minutos.\n* Si no se proporciona una fecha, asume que es hoy.\n* Si faltan el título o la descripción, solicítalos antes de continuar. \n\n**📋 Obtener Eventos**\nConsulta todos los eventos programados para un día específico:\n\n* Devuelve la lista ordenada cronológicamente.\n* Resume cada evento en una línea con título, hora y duración.\n\n**✏️ Modificar Evento**\nPermite cambiar la fecha, hora, título o descripción de un evento existente:\n\n* Si el usuario no indica qué parte desea modificar, solicita la información necesaria.\n\n**🗑 Eliminar Evento**\nElimina un evento específico según el título o la hora de inicio.\n\n* Si hay ambigüedad, solicita confirmación para evitar eliminar el evento incorrecto.\n\n** ---\n\n# IDIOMA\nSi la herramienta te devuelve información en otro idioma, **tradúcela siempre al español** antes de responder.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3920,
        -32
      ],
      "id": "01593688-74fe-4b4e-9162-7a49356cb1d9",
      "name": "Agente de calendarios"
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3520,
        144
      ],
      "id": "b0c0d2b0-4be0-4e8a-9804-f32769207b91",
      "name": "marcar como no leido",
      "webhookId": "7445ae21-cc21-4cf5-96c5-10216ea03308",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3376,
        144
      ],
      "id": "f00b6d8d-738b-47c6-8cb6-819bcdd648e1",
      "name": "enviar email",
      "webhookId": "d2f5d831-d8c7-4a21-9ecf-092be592af59",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3232,
        144
      ],
      "id": "7281ec6d-5417-4442-b04f-03914e5a82d5",
      "name": "responder email",
      "webhookId": "91731aa9-585c-4e7b-9305-88287af8a94d",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3088,
        144
      ],
      "id": "9b9b7508-03bf-41a1-9105-c125c3caa617",
      "name": "etiquetar email",
      "webhookId": "c8f7e15b-5cde-4552-9ae9-2456010f0863",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3520,
        320
      ],
      "id": "aa9862ba-05cb-4d51-a8bb-7172e05eeaef",
      "name": "obtener etiquetas",
      "webhookId": "e3637850-1eeb-46cd-b361-e15efb9bd46f",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "threadId": "={{ $fromAI(\"threadID\") }}",
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3232,
        320
      ],
      "id": "f1f399c9-db94-40fe-893c-808c58e5c690",
      "name": "crear borrador",
      "webhookId": "70083254-7dec-466d-864c-33fb6efdb75f",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3088,
        320
      ],
      "id": "39a3ee1b-12b4-47f0-8648-a20f25a7dcd1",
      "name": "Borrar email",
      "webhookId": "01df8350-95ce-4e83-83e7-0124f60059d4",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AGENTE DE EMAIL",
        "height": 564,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3552,
        -96
      ],
      "id": "af801ccd-74e3-4571-ada4-97df6fabdb5f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "toolDescription": "Herramienta para gesionar correos electrónicos.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# Rol\n\nEres un asistente de gestión de Correo Electrónico. \n\n# Especificaciones\n\nTodos los correos electrónicos deben tener un formato profesional en HTML y estar firmados como \"Fj Junquero\".\n\n# Herramientas\n\n- Usa \"enviar email\" para enviar correos electrónicos. Si no se indica ninguna dirección de correo, mándala siempre a: marru973@gmail.com\n- Usa \"crear borrador\" si el usuario pide un borrador.\n- Usa \"marcar como no leido\" para marcar un correo electrónico como no leído. Primero debes usar \"Get Emails\" para tener el ID del mensaje del correo electrónico que deseas marcar.\n- Usa \"etiquetar email\" para etiquetar un correo electrónico. Primero debes usar \"obtener etiqueta\" para tener el ID del mensaje del correo electrónico que deseas etiquetar. Luego debes usar \"Get Labels\" para tener el ID de la etiqueta.\n- Usa \"responder email\" para responder a un correo electrónico. Primero debes usar \"obtener email\" para tener el ID del mensaje del correo electrónico al que deseas responder.\n- Usa \"Borrar email\" para borrar los emails. Primero debes usar \"obtener email\" para  tener el ID del mensaje del correo electrónico que deseas borrar.\n\n# Notas\n\nFecha y hora actuales: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3408,
        -32
      ],
      "id": "63f4d0da-6835-486a-994d-0d0980f92237",
      "name": "Agente de correos"
    },
    {
      "parameters": {
        "content": "## AGENTE DE CALENDARIOS",
        "height": 564,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4000,
        -96
      ],
      "id": "4ec2b882-a6d0-442a-8405-29c4e848d240",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\",\"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -3376,
        320
      ],
      "id": "e8918089-9fd9-411d-b210-c135d953cf40",
      "name": "obtener email",
      "webhookId": "9c72d655-acac-4e6e-8132-b9c7a15d0abf",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxWqlWrLwLQJwlIt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Herramienta para escribir como un escritor.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# ROLE\nEres un escritor profesional de contenido, especializado en crear textos efectivos, claros y útiles.\n\nPuedes redactar:\n- Artículos SEO\n- Guiones\n- Historias\n- Resúmenes\n- Posts para redes\n\n# INSTRUCCIONES\n- Adapta el tono al contexto si se indica.\n- Sigue las instrucciones del usuario fielmente.\n- No incluyas disclaimers ni comentarios fuera del texto solicitado.\n\n# IDIOMA\nResponde **siempre en español**, incluso si el usuario proporciona instrucciones en otro idioma.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1360,
        -128
      ],
      "id": "32d8b704-359b-4800-8f1d-b73d1c985802",
      "name": "Escritor"
    },
    {
      "parameters": {
        "content": "### ESCRITOR",
        "height": 212,
        "width": 310,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        -208
      ],
      "typeVersion": 1,
      "id": "e644a955-4606-4085-be94-75bf59b1fc79",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -2720,
        272
      ],
      "id": "48f0a70f-eb91-4104-b8a6-bdf1d638580f",
      "name": "Actualizar documento",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "o7Y2ZpTaoRyZ9FPd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -2576,
        272
      ],
      "id": "9546c6d8-cc12-4f77-a5e1-0314e5bb988c",
      "name": "Obtener documento",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "o7Y2ZpTaoRyZ9FPd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a document in Google Docs",
        "driveId": "=myDrive",
        "folderId": "1RW6kzvqdd3euj1KwuCkt-dbbQnSVpKs7",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -2864,
        272
      ],
      "id": "495bbdfb-2291-4cb8-9f27-120533d0ee6d",
      "name": "Crear Documento",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "o7Y2ZpTaoRyZ9FPd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Herramienta para el uso de documentos.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=Eres un agente experto en el manejo de documentos y tu función aquí es muy sencilla: \nresponder a las peticiones del usuario utilizando las herramientas a tu alcance.\n\nPuedes:\n- Crear un documento\n- Guardar un documento\n- Actualizar documentos\n- Obtener documentos\n\n⚠️ No redactes el contenido tú mismo: solo realiza acciones sobre documentos.\n\nAntes de ejecutar una acción, asegúrate de tener:\n- Título del documento (si vas a crearlo)\n- URL o ID (si vas a obtener o actualizar)\n\nSi falta algún dato, solicita confirmación antes de continuar.\n\n📌 Todas las respuestas deben estar en **español**, incluso si algún contenido viene en otro idioma."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2800,
        128
      ],
      "id": "6532c391-7d33-4479-89dc-9d5765c00323",
      "name": "Agente documentos"
    },
    {
      "parameters": {
        "content": "## AGENTE DE DOCUMENTOS",
        "height": 404,
        "width": 476
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2912,
        64
      ],
      "typeVersion": 1,
      "id": "223d07de-c676-4b24-a7a6-3fbc95a59438",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3504,
        -448
      ],
      "id": "9b43f1b4-788c-4bf1-b60b-ac31ce235896",
      "name": "Descargar Imagen",
      "webhookId": "a24cb3fe-0ea6-416a-9a4f-456e6d836b08",
      "credentials": {
        "telegramApi": {
          "id": "qq8bB6iKJvsUX3Iv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Herramienta para gestionar tareas.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2096,
        64
      ],
      "id": "2553ac5e-b992-402e-937c-76aec18dd865",
      "name": "Agente de tareas"
    },
    {
      "parameters": {
        "task": "MTEyOTQzMTAzODQwNDM4MTk2NjQ6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -2352,
        288
      ],
      "id": "fc3847ce-55a4-49bb-87c0-2a05678e347a",
      "name": "Crear tarea",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "I4IxfZk7l5yo21ml",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTEyOTQzMTAzODQwNDM4MTk2NjQ6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -2224,
        288
      ],
      "id": "a0da616b-4c52-4437-867e-e46f846ce9c0",
      "name": "Cargar tareas",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "I4IxfZk7l5yo21ml",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "task": "MTEyOTQzMTAzODQwNDM4MTk2NjQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -2096,
        288
      ],
      "id": "986a0d61-1510-41a7-b077-44cffc2df28b",
      "name": "Cargar tarea",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "I4IxfZk7l5yo21ml",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update a task in Google Tasks",
        "operation": "update",
        "task": "MTEyOTQzMTAzODQwNDM4MTk2NjQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -1968,
        288
      ],
      "id": "79083463-7f93-4cbf-8a64-812bb2ff1139",
      "name": "Marcar tareas finalizadas",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "I4IxfZk7l5yo21ml",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update a task in Google Tasks",
        "operation": "update",
        "task": "MTEyOTQzMTAzODQwNDM4MTk2NjQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -1824,
        288
      ],
      "id": "13598e53-158b-4a2a-bd12-a1420fb48a02",
      "name": "Modificar nombre tarea.",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "I4IxfZk7l5yo21ml",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Elimina tareas.",
        "operation": "delete",
        "task": "MTEyOTQzMTAzODQwNDM4MTk2NjQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -1680,
        288
      ],
      "id": "78d75279-025b-408a-9dba-eaf0759ad034",
      "name": "Eliminar tareas",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "I4IxfZk7l5yo21ml",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AGENTE DE TAREAS",
        "height": 432,
        "width": 832,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2384,
        32
      ],
      "typeVersion": 1,
      "id": "b7b9666c-bde2-4565-a952-bc49d1805a71",
      "name": "Sticky Note15"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente de calendarios",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente de correos",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Escritor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente documentos",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente de tareas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto": {
      "main": [
        [
          {
            "node": "Agente Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio": {
      "main": [
        [
          {
            "node": "Transcribe audio telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio telegram": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Agente Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contactos": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de contabilidad": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pensamiento": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen": {
      "main": [
        [
          {
            "node": "Agente Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        [
          {
            "node": "Agente de calendarios",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Editar Evento": {
      "ai_tool": [
        [
          {
            "node": "Agente de calendarios",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        [
          {
            "node": "Agente de calendarios",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Eventos": {
      "ai_tool": [
        [
          {
            "node": "Agente de calendarios",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Principal": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de calendarios": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "marcar como no leido": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviar email": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "responder email": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "etiquetar email": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener etiquetas": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear borrador": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Borrar email": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de correos": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener email": {
      "ai_tool": [
        [
          {
            "node": "Agente de correos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escritor": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar documento": {
      "ai_tool": [
        [
          {
            "node": "Agente documentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener documento": {
      "ai_tool": [
        [
          {
            "node": "Agente documentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear Documento": {
      "ai_tool": [
        [
          {
            "node": "Agente documentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente documentos": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de tareas": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear tarea": {
      "ai_tool": [
        [
          {
            "node": "Agente de tareas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cargar tareas": {
      "ai_tool": [
        [
          {
            "node": "Agente de tareas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cargar tarea": {
      "ai_tool": [
        [
          {
            "node": "Agente de tareas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marcar tareas finalizadas": {
      "ai_tool": [
        [
          {
            "node": "Agente de tareas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificar nombre tarea.": {
      "ai_tool": [
        [
          {
            "node": "Agente de tareas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar tareas": {
      "ai_tool": [
        [
          {
            "node": "Agente de tareas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d339dde0-4285-4549-aa51-ef81a6a63ec1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "523f79adcb4c23572c34b45d3bba70c9be7ccc1e8000c837032bc7ae3a060106"
  },
  "id": "mMv99Rh15FO2YZvC",
  "tags": [
    {
      "createdAt": "2025-07-13T18:02:49.662Z",
      "updatedAt": "2025-07-13T18:02:49.662Z",
      "id": "9pjpmjCjld0jhKg3",
      "name": "Fran Junquero"
    },
    {
      "createdAt": "2025-07-14T09:29:54.016Z",
      "updatedAt": "2025-07-14T09:29:54.016Z",
      "id": "hfGesm7WglBONLwl",
      "name": "😎"
    }
  ]
}